{% extends 'base/base.html' %}

{% block content %}
    <h1>Задача {{ task.name }}</h1>
    <p>Описание: {{ task.description }}</p>
    <h1>Проект <a href="{% url 'tasks:project_detail' project.id%}">{{ project.name }}</a> </h1>
    <p>Описание: {{ project.description }}</p>

    <a href="{% url 'tasks:update_task' project_id=task.project.id task_id=task.id %}">Изменить задачу</a>
    <p><a href="{% url 'tasks:delete_task' project_id=task.project.id task_id=task.id %}" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить задачу</a></p>

    <h2>Баги</h2>
    <ul>
        {% for bug in task.bug_reports.all %}
            <li><a href="{% url 'quality_control:bug_detail' bug.id%}">{{ bug.title }}</a> - {{ bug.status }}</li>
        {% empty %}
            <li>В этой задаче пока нет багов.</li>
        {% endfor %}
    </ul>
    <h2>Запросы на улучшение</h2>
    <ul>
        {% for feature in task.feature_requests.all %}
            <li><a href="{% url 'quality_control:feature_id_detail' feature.id%}">{{ feature.title }}</a> - {{ feature.status }}</li>
        {% empty %}
            <li>В этой задаче пока нет запросов на улучшение.</li>
        {% endfor %}
    </ul>
{% endblock %}